.forgot-password-card{
    width:83%;
    height:28.1em;
}

.forgot-password-pug{
    height:28em;
}

.img-section{
    display: none;
}

.form-group{
    margin-bottom:1.5rem;
}

.form-control-forgot-password{
    border-radius:50px;
    height:3em;
}

.form-control-btn{
    border-radius:50px;
    height:3em;
}

.forgot-password-bottom-links{
    font-size:14px;
}

@media (min-width:992px){
    .img-section{
        display: block;
    }
}

@media (min-width:992px){
    .forgot-password-pug{
        width:21em !important;
    }
}

@media (min-width:1200px){
    .forgot-password-pug{
        width:23em !important;
    }
}